<div class="file-list">

    <div class="file" *ngFor="let video of videosArray; let i = index">
        <div class="icon">
            <img [src]="iconPath" alt="Upload icon" class="dropzone__icon">
        </div>
        <div class="info">
            <div class="top">
                <p>{{ video.title }}</p>

                <deep-real-button *nfIf="true; else successIcon;" icon="trash"></deep-real-button>

                <ng-template #successIcon>
                    <deep-real-button icon="check"></deep-real-button>
                </ng-template>
            </div>
            <!-- <div class="middle">
                <deep-real-progress-indicator-bar [progress]="video?.progress"></deep-real-progress-indicator-bar>
            </div> -->
            <div class="bottom">
                <span>{{ video.fileSize }}</span>
            </div>
        </div>
    </div>
</div>