venv/
.env/
*.env

Pipfile
Pipfile.lock
poetry.lock

*.pyc
*.pyo
*.pyd
__pycache__/

*.log
logs/
*.sqlite3
*.db

.vscode/
.idea/
*.iml

*.dockerignore
docker-compose.override.yml

.pytest_cache/

.coverage
htmlcov/

*.pid
*.seed

build/
dist/
*.egg-info/

instance/
settings.toml

certs/
*.pem

*.swp
*.swo

.DS_Store
Thumbs.db
