<div class="dropzone">
    <input 
        id="file"
        type="file"
        (change)="onFileChange($event)"
        multiple
        #fileUpload
        accept=".mp4, .avi, .mkv, .mov, .flv"/>

    <div class="icon">
        <img [src]="iconPath" alt="Upload icon" class="dropzone__icon">
    </div>

    <div class="dropzone__info">
        <p>Clique aqui para enviar seus vídeos ou arraste e solte.</p>
        <span>Formatos suportados: MP4, AVI, MKV, MOV, FLV (até 100MB)</span>
    </div>
</div>

<!-- <deep-real-files-lists
    [videos]="videos"
    (onRemove)="onRemove($event)">
</deep-real-files-lists> -->

<div class="file-list" *ngIf="videos.length > 0">
    <ng-content *ngFor="let video of videos; let i = index">
        <div class="file" [ngClass]="video.state">
            <div class="icon">
                <img [src]="iconPath" alt="Upload icon" class="dropzone__icon">
            </div>
            <div class="info">
                <p>{{ video.title }}</p>
                <div class="loading" *ngIf="!video.state; else progressResult">
                     <deep-real-progress-bar [progress]="progress" [status]="progressStatus"></deep-real-progress-bar>
                </div>
                <ng-template #progressResult>
                    <span class="state">{{ findAnalysisStateDescription(video.state) }}</span>
                </ng-template>
                <span>{{ formatBytes(video.fileSize) }}</span>
            </div>
        </div>
    </ng-content>
</div>