<div class="dropzone">
    <input 
        id="file"
        type="file"
        (change)="onFileChange($event)"
        multiple
        #fileUpload/>

    <div class="icon">
        <img [src]="iconPath" alt="Upload icon" class="dropzone__icon">
    </div>

    <div class="dropzone__info">
        <p>Clique aqui para enviar seus vídeos ou arraste e solte.</p>
        <span>Formatos suportados: MP4, AVI, MKV, MOV, FLV (até 100MB)</span>
    </div>
</div>

@if (videos.length > 0) {
    <deep-real-files-lists
        [videos]="videos"
        (onRemove)="onRemove($event)">
    </deep-real-files-lists>
}