span.deep-real-form-field-error {
    position: absolute;
    bottom: -1.3rem;
    left: 0.8rem;
    font-family: 'quasimoda-bold';
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.075rem;
    color: var(--error-color);
}