:root {
    --primary-color: #b4bedf;
    --secondary-color: #4f46e5;
    --success-color: #28a745;
    --error-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --disabled-color: #6c757d;
    --deep-real-white: #ffffff;
    --deep-real-black: #000000;
    --deep-real-grey: #b3b3b3;
}